*,*::after,*::before{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}

.card-info{
  border: 1px solid black;
  margin: 1em;
  width: 90%;
}
.card-img{
  width: 100%;
}
.card-body{
  margin: 0.5em;
}

.home-link{
  text-decoration: none;
  color: black;
}

.navbar{
  width: 100%;
  text-align: center;
  background-color: #1a9bf8;
  padding: 1em;
}
.nav-link{
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}